body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#banner {
    z-index: 9999;
    background-color: white;
    opacity: 80%;
    text-align: center;
}