body {
    margin: 0;
    padding: 0;
}

.back-link {
    font-size: 15.2px;
}

.back-link:hover {
    background: #15251c;
    color: #d9e7d0;
    text-decoration: none;
}

#map {
    position: relative;
    height: calc(100vh - 3.25rem);
    width: 100%;
}

/*  style for paragraph tags */
p {
    color: white;
}

/* style for heading level 4 tags */
h4 {
    color: white;
    margin-left: 10px;
}

/*  style for items with the class "LegendContainer" */
.LegendContainer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    width: 300px;
    height: 40px;
    background: rgba(80, 80, 80, .75);
    transition: width 2s, height 2s; /* this is the time it takes for the container to transition */
    border-radius: 7px;
}

/*  style for items with the class "descriptionPanel" */
.descriptionPanel {
    position: absolute;
    bottom: 65px;
    left: 20px;
    z-index: 2;
    width: 300px;
    height: 40px;
    background: rgba(80, 80, 80, .75);
    transition: width 2s, height 2s;
    overflow: hidden;
    border-radius: 7px;
}

/*  style for items with the class "descriptionPanel" when active */
.LegendContainer:active {
    width: 240px;
    height: 250px;
}

/* style for items with the class "legendItem" */
.legendItem {
    margin: 0px;
    padding-left: 10px;
    display:inline-block;
    margin:auto;
    transform: translate(50%, 50%);
}
    

/* style for items with the class "layerDescription" */
.layerDescription {
    color: white;
    padding-left: 10px;
}

    
.renter {
        color:#cc8b00;
}
.owner{
        color:#38d7ff;
}

/* style for items with the class "chevron" */
.chevron {
    position: relative;
    margin-left: 45%;
    font-size: x-large;
    color: white;
}
